<div class="modalWp" *ngIf="open()">
  <div class="modal">
    <div class="header">
      <p class="title">{{ title }}</p>
      <p *ngIf="description" class="description">{{ description }}</p>
      <span class="header__icon">
        <app-icon name="cross-big" (onClick)="handleClose()" />
      </span>
    </div>
    <div class="content">
      <ng-content select="[slot=content]" />
    </div>
    <div class="footer">
      <div class="footer-btns">
        <app-button
          *ngIf="cancelBtn"
          [label]="cancelBtn.text"
          color="secondary"
          [disabled]="cancelBtn.isDisable"
          [loading]="cancelBtn.isLoading"
          (onClick)="onCancel.emit()"
        />
        <app-button
          *ngIf="confirmBtn"
          [label]="confirmBtn.text"
          [disabled]="confirmBtn.isDisable"
          [loading]="confirmBtn.isLoading"
          (onClick)="onConfirm.emit()"
        />
      </div>
      <ng-content select="[slot=footerStep]" />
    </div>
  </div>
  <div class="backdrop" (click)="handleClose()"></div>
</div>
