@import "variables/breakpoints.scss";
@import "variables/fonts.scss";

.pageTitle {
  @include f--b0-regular;
}
.sectionSummary {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 16px;

  width: 100%;
  margin-top: 16px;

  app-balance-content {
    flex-grow: 1;
    min-width: 244px;
  }

  @media (min-width: $bpMdMin) {
    app-balance-content {
      min-width: 0;
    }
  }

  //   app-calendar-range-picker {
  //     ::ng-deep {
  //       app-card-base {
  //         min-width: 180px;
  //       }
  //     }
  //   }

  //   @media (min-width: $bpSmMin) {
  //     app-calendar-range-picker {
  //       ::ng-deep {
  //         app-card-base {
  //           min-width: 100px;
  //         }
  //       }
  //     }
  //   }
}

.sectionTitle {
  @include f--b1-regular;
  margin-top: 24px;
  margin-bottom: 16px;
}

.sectionActions {
  display: flex;
  gap: 16px;
}
