@import "variables/fonts.scss";

.MenuItemMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    @include f--b1-light;
    color: var(--color-carbon);
    cursor: pointer;
    padding-top: 8px;
  }

  ::ng-deep {
    svg {
      transform: scale(2);
      cursor: pointer;
    }
  }

  &--active {
    .title {
      color: var(--blue-main);
    }

    ::ng-deep {
      svg {
        color: var(--blue-main);
      }
    }
  }
}
