<app-modal-base
  [open]="open"
  (onClose)="onClose.emit()"
  [disableBackdrop]="true"
  [disableClose]="currentStep() !== 0"
  [title]="title"
  [description]="descriptions?.[currentStep()]"
  [confirmBtn]="confirmBtns?.[currentStep()]"
  (onConfirm)="handleConfirm()"
  [cancelBtn]="cancelBtns?.[currentStep()]"
  (onCancel)="handleCancel()"
>
  <ng-container slot="content">
    <ng-container *ngFor="let step of steps; index as i">
      <ng-container *ngIf="currentStep() === i">
        <ng-container *ngTemplateOutlet="step" />
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container slot="footerStep">
    <app-dot-step
      *ngIf="footerStep.length >= 2"
      [steps]="footerStep"
      class="dotSteps"
    />
  </ng-container>
</app-modal-base>
