.mobileLayout {
  display: flex;
  flex-direction: column;
  //   height: 100dvh;
  background-color: white;

  .container {
    display: flex;
    height: calc(100dvh - 75px);
    background-color: #faf9fd;
  }

  .menu {
    display: flex;
    height: 75px;
    width: 100%;

    box-shadow: 0px -4px 5px 0px rgba(15, 23, 42, 0.1);
    -webkit-box-shadow: 0px -4px 5px 0px rgba(15, 23, 42, 0.1);
    -moz-box-shadow: 0px -4px 5px 0px rgba(15, 23, 42, 0.1);
  }
}
