<!-- todo translate -->
<app-card-base (onClick)="handleClick()">
  <div class="head">
    <div class="info">
      <p class="title">{{ accountName() }}</p>
      <p class="subtitle">Último Movimiento: {{ lastMovement() }}</p>
    </div>
    <div class="amountInfo">
      <p class="amount">{{ total().toFixed(2) }}</p>
    </div>
  </div>
  <div class="content">
    <app-balance-concept [concept]="'income'" [amount]="income().toFixed(2)" />
    <app-balance-concept
      [concept]="'expense'"
      [amount]="expense().toFixed(2)"
    />
  </div>
</app-card-base>
