<app-back-link [href]="href" [labelLink]="labelLink" />
<div class="dataWP">
  <ng-container *ngIf="{ userInfo: userInfo$ | async } as data">
    <span class="title">{{'first-name' | transloco}}:  <span class="data">{{data?.userInfo?.firstName}}</span></span>
    <span class="title">{{'last-name' | transloco}}:  <span class="data">{{data?.userInfo?.lastName}}</span></span>
    <span class="title">{{'email' | transloco}}: <span class="data">{{data?.userInfo?.email}}</span></span>
    <span class="title">{{'birth' | transloco}}:  <span class="data">{{data?.userInfo?.dateBirth}}</span></span>
    <span class="title">{{'objective' | transloco}} :  <span class="data">{{data?.userInfo?.objective}}</span></span>
  </ng-container>
</div>

