<div class="modalWp" *ngIf="open()">
  <div class="modal">
    <div class="header">
      <p class="title">{{ title }}</p>
      <p *ngIf="description" class="description">{{ description }}</p>
      <span class="header__icon">
        <app-icon name="cross-big" (onClick)="onClose.emit()" />
      </span>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="footer">
      <app-button label="hola" />
      <app-button label="hola" color="secondary" />
    </div>
  </div>
  <div class="backdrop" (click)="onClose.emit()"></div>
</div>
