@import "variables/fonts.scss";

.actionBtnWp {
  border: none;
  background-color: transparent;

  .actionBtnContent {
    border-radius: 8px;
    min-width: 288px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;

    .label {
      flex-grow: 1;
      text-align: left;

      @include f--b1-regular;
    }

    .icon {
      ::ng-deep {
        svg {
          width: 20px;
          height: 20px;
          transform: scale(0.9);
          color: #000;
        }
      }
    }
  }

  &.primary {
    background-color: #fff;
  }

  &.secondary {
    .actionBtnContent {
      background-color: var(--grey-main);
      .label {
        color: #fff;

        @include f--b1-regular;
      }

      .icon {
        ::ng-deep {
          svg {
            width: 20px;
            height: 20px;
            transform: scale(0.9);
            color: #fff;
          }
        }
      }
    }
  }

  &--disabled {
    ::ng-deep {
      app-card-base {
        .actionBtnContent {
          background-color: #cccccc;
          color: #666666;
        }
      }
    }
  }
}
