<div>
  Global Position
  <br />
  Resumen
  <app-calendar-range-picker
    [dateStart]="range.dateStart"
    [dateEnd]="range.dateEnd"
    [format]="format"
    (onChange)="handleOnChange($event)"
  />

  <app-balance-content title="Balance" amount="500" />
  <br />
  Operaciones
  <app-card-btn
    icon="income"
    title="Ingresos"
    (onClick)="openIncome.set(true)"
  />
  <app-card-btn
    icon="expense"
    title="Gastos"
    (onClick)="openExpense.set(true)"
  />
  <app-card-btn
    icon="category"
    title="Categorias"
    (onClick)="handlerCategory()"
  />
  <br />
  Cuentas
  <br />
  Habitos

  <app-add-concept-base-modal [open]="openIncome" />
  <app-add-concept-base-modal [open]="openExpense" />
</div>
