@import "variables/breakpoints.scss";
@import "variables/fonts.scss";

.myAccount {
  app-user-info {
    @media (min-width: $bpMdMin) {
      display: none;
    }
  }
  .userInfo {
    margin: 48px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 24px 0;

    @media (min-width: $bpMdMin) {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 608px;
    }
  }

  .preferences {
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    padding-bottom: 200px;

    @include f--b1-regular;

    @media (max-width: $bpSmMax) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
