<div class="myAccount">
  <app-back-link [href]="href" [labelLink]="labelLink" />
  <ng-container *ngIf="{ userInfo: userInfo$ | async } as data">
    <app-user-info
      [src]="src"
      [userName]="
        (data.userInfo?.firstName ?? '') + ' ' + (data.userInfo?.lastName ?? '')
      "
      [objective]="data.userInfo?.objective ?? ''"
      class="userInfo"
    />
  </ng-container>
  <div class="buttons">
    <app-action-btn
      [label]="accountInfoDetails"
      iconName="chevron-right"
      (click)="handleNavigateInfo()"
    ></app-action-btn>
    <app-action-btn
      [label]="categories"
      iconName="chevron-right"
      (click)="handleClickCategories()"
    ></app-action-btn>
    <app-action-btn
      [label]="unsubscribe"
      iconName="chevron-right"
      (click)="handleClickUnsubscribe()"
    ></app-action-btn>
    <app-action-btn
      [label]="logout"
      colorBtn="secondary"
      (click)="handleClickLogout()"
    ></app-action-btn>
  </div>
</div>
