<div class="myAccount">
    <app-back-link [href]="href" [labelLink]="labelLink"/>
    <app-user-info [src]="src" [userName]="userName" [objective]="objective"/>
    <div class="buttons">
        <app-action-btn [label]="categories" iconName="chevron-right" (click)="handleClickCategories()"></app-action-btn>
        <app-action-btn [label]="mydata" iconName="chevron-right" (click)="handleClickMyData()"></app-action-btn>
        <app-action-btn [label]="unsubscribe" iconName="chevron-right" (click)="handleClickUnsubscribe()"></app-action-btn>
        <app-action-btn [label]="logout" colorBtn="secondary" (click)="handleClickLogout()"></app-action-btn>
    </div>
   
</div>
