@import "variables/breakpoints.scss";
@import "variables/fonts.scss";

.pageTitle {
  @include f--b0-regular;
}
.sectionSummary {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 16px;

  width: 100%;
  margin-top: 16px;

  app-balance-content {
    flex-grow: 1;
    min-width: 244px;
  }

  app-calendar-range-picker {
    flex-grow: 1;
  }

  @media (min-width: 540px) {
    app-calendar-range-picker {
      flex-grow: 0;
    }
  }

  @media (min-width: $bpMdMin) {
    app-balance-content {
      min-width: 0;
    }
  }
}
