<div class="layout">
  <app-desktop-layout class="layout-desktop" *ngIf="!isMobile()">
    <div class="menu" slot="menu">
      <div class="user">
        <app-logo />

      </div>
      <app-divisor class="divisor" />
      <!-- <app-user-info [src]="src" [userName]=""/> -->
      <app-menu-desktop [items]="logout" />
      <app-divisor class="divisor" />
      <app-menu-desktop
        [items]="items"
        [initialActive]="currentMenu()"
        (onChange)="handleMenuChange($event)"
      />
    </div>
    <div class="content" slot="content">
      <ng-container *ngTemplateOutlet="content" />
    </div>
  </app-desktop-layout>

  <app-mobile-layout class="layout-mobile" *ngIf="isMobile()">
    <ng-container slot="menu"
      ><app-menu-mobile
        class="menu"
        [items]="items"
        [initialActive]="currentMenu()"
        (onChange)="handleMenuChange($event)"
    /></ng-container>
    <div class="content" slot="content">
      <ng-container *ngTemplateOutlet="content" />
    </div>
  </app-mobile-layout>
</div>
