@import "variables/breakpoints.scss";

.layout {
  .layout-desktop {
    display: none;
    @media (min-width: $bpMdMin) {
      display: block;
    }
    .menu {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 32px;
      width: 100%;

      .divisor {
        ::ng-deep {
          div {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .layout-mobile {
    display: block;
    @media (min-width: $bpMdMin) {
      display: none;
    }

    .menu {
      width: 100%;
    }
  }
}
