<div class="conceptStep">
  <app-input-number
    name="euro"
    [label]="inputNumberLabel"
    placeholder="0,00"
    [value]="valueAmount"
    (onChange)="handleValueAmount($event)"
  />
  <app-input-text-date
    [label]="inputDateLabel"
    [value]="valueDate"
    (onChange)="handleValueDate($event)"
  />
  <p *ngIf="!isValidUntilDate" class="isInValidDate">
    La fecha seleccionada debe ser anterior o igual a la fecha actual.
  </p>
  <p *ngIf="!isValidSinceDate" class="isInValidDate">
    La fecha seleccionada debe ser posterior o igual {{ sinceDate.date }} .
  </p>
  <app-input-text-area
    id="comment"
    [label]="inputCommentLabel"
    placeholder=""
    [value]="valueComment"
    (onChange)="handleValueComment($event)"
  />
</div>
